:root {
	--bg: #242933;
	--highlight1: #dad085;
	--highlight2: #96cbfe;
	--highlight3: #f7a145;
	--text-color: #ffffff;
	--font: 'Roboto Mono', monospace;
	--font-var-width: 'Roboto', sans-serif;
	--title-size: 1.7em;
	--content-size: 1.2em;
	--border-radius: 20pt;
	--border-width: 2pt;
	--short-transition: 0.1s;
	--long-transition: 0.2s;
	--hover-scale: 1.04;
	--project-width: min(350pt, 94vw);
	--project-height: 500pt;
	--project-demo-height: calc(var(--project-width) * 9 / 16);
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--bg);
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	outline: none;
}

.navigation {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: var(--bg);
	padding-bottom: 15pt;
	box-shadow: 0 0.25mm 1mm #1A1C1D;
}

.navigation-link {
	color: white;
	font-family: var(--font);
	font-size: var(--content-size);
	transition: var(--long-transition);
	margin-top: 15pt;
	margin-left: 5pt;
	margin-right: 5pt;
}

.navigation-link:hover {
	color: var(--highlight1);
}

.profile {
	margin-top: 60pt;
	min-height: 35vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.description-container {
	display: flex;
	flex-direction: column;
	padding: 1%;
	min-width: 200pt;
	margin-left: 10pt;
	margin-right: 10pt;
	margin-bottom: 20pt;
}

.name {
	margin: 0;
	font-family: var(--font);
	font-size: 4em;
	color: var(--text-color);
}

.description {
	margin: 0;
	margin-bottom: 10pt;
	font-family: var(--font);
	font-size: 1.2em;
	color: var(--highlight1);
	margin-top: 2pt;
}

.pfp {
	margin-left: 10pt;
	margin-right: 10pt;
	object-fit: cover;
	object-position: 40%;
	width: 250pt;
	height: 250pt;
	border-radius: 100%;
}

.demo-gif {
	margin-left: 10pt;
	margin-right: 10pt;
	margin-bottom: 10pt;
	object-fit: cover;
	object-position: 40%;
	width: min(450pt, 90vw);
	height: min(250pt, 50vw);
	border-radius: 3.5pt;
}

.contacts {
	display: flex;
	flex-direction: row;
	font-size: var(--title-size);
	margin-top: 10pt;
	margin-bottom: 10pt;
}

.contacts > * {
	margin-right: 20pt;
}

.contacts-button {
	color: var(--text-color);
	transition: var(--long-transition);
}

.contacts-button:hover {
	color: var(--highlight2)
}

.about-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 500pt;
	padding: 10pt;
	padding-top: 50pt;
}

.about-content {
	width: 100%;
	font-size: var(--content-size);
	font-family: var(--font);
	color: white;
	margin-top: 10pt;
}

.paragraph-url {
	color: var(--highlight2);
	text-decoration: underline;
}

.paragraph-url:hover {
	color: var(--highlight3);
}

.experience {
	margin-top: 40pt;
	min-height: 35vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.experience-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center;
	padding: 30pt;
}


.experience-description-container {
	display: flex;
	flex-direction: column;
	padding: 0;
	min-width: 200pt;
	margin: 0;
	margin-left: 10pt;
	margin-right: 10pt;
	margin-bottom: 20pt;
}

.experience-description {
	font-family: var(--font);
	font-size: 1.1em;
	color: white;
	margin-top: 5pt;
	margin-bottom: 0;
	max-width: 500pt;
}

.experience-header {
	margin: 0;
	margin-top: 5pt;
	font-size: var(--title-size);
	font-family: var(--font);
	text-align: left;
	color: white;
}

.experience-subheader {
	font-size: 1.0em;
	font-family: var(--font);
	text-align: left;
	color: var(--highlight1);
}

.experience-url {
	font-size: 1.2em;
	font-family: var(--font);
	text-align: left;
	text-decoration: underline;
	color: var(--highlight2);
	margin-right: 30pt;
}

.experience-url:hover {
	color: var(--highlight3);
}

.section-header {
	font-size: 2.0em;
	font-family: var(--font);
	text-align: center;
	color: white;
}

.projects {
	display: flex;
	max-width: 100vw;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 5vw;
}

.projects-header {
	font-size: var(--title-size);
	font-family: var(--font);
	text-align: center;
	color: white;
}

.projects-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.project {
	width: var(--project-width);
	min-height: var(--project-height);
	background-color: white;
	border-radius: var(--border-radius);
	border-width: var(--border-width);
	border-style: solid;
	border-color: white;
	transform: scale(1);
	transition: var(--short-transition);
	margin-right: 8pt;
	margin-left: 8pt;
	margin-top: 8pt;
	margin-bottom: 8pt;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.project:hover {
	border-color: var(--highlight2);
	transform: scale(var(--hover-scale));
}

.project-title {
	font-family: var(--font);
	font-size: var(--title-size);
	text-align: center;
	color: black;
	margin-top: 5pt;
	margin-bottom: 0;
}

.project-tech {
	font-family: var(--font);
	font-size: 1em;
	color: black;
	margin-top: 1pt;
	margin-bottom: 0;
}

.project-description {
	font-family: var(--font);
	font-size: 1.1em;
	color: black;
	margin-top: 5pt;
	margin-bottom: 0;
	margin-left: 10pt;
	margin-right: 10pt;
}

.project-divider {
	margin-top: auto;
	margin-bottom: 0;
	width: calc(100% - var(--border-width));
	border: 1px solid #f0f0f0;
	margin-left: 0;
}

.project-links {
	height: 40pt;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
	overflow: hidden;
}

.project-link-href {
	flex-grow: 1;
	height: 100%;
}

.project-link-button {
	height: 100%;
	width: 100%;
	border: none;
	transition: var(--long-transition);
	background-color: white;
	color: black;
}

.project-link-button:hover {
	background-color: var(--highlight2);
	color: white;
}

.project-link-button-span {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.project-github-icon {
	font-size: 2em;
}

.project-website-icon {
	font-size: 1.8em;
}

.project-link-text {
	margin: 0;
	margin-left: 4pt;
	font-family: var(--font);
	font-size: 1.5em;
}

.api-demo {
	margin-top: 20pt;
	margin-bottom: 20pt;
	height: calc(var(--project-demo-height) - 40pt);
}

.vultr-demo {
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
	margin: 0;
	padding: 0;
	width: var(--project-width);
	height: var(--project-demo-height);
}

.bluebubbles-demo {
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
	border-width: 0;
	margin: 0;
	padding: 0;
	width: var(--project-width);
	height: var(--project-demo-height);
}

.contact-me {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contact-box {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: white;
	width: var(--project-width);
	border-radius: var(--border-radius);
	border-width: var(--border-width);
	border-style: solid;
	border-color: white;
	transform: scale(1);
	transition: var(--short-transition);
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.contact-box:hover {
	border-color: var(--highlight2);
	transform: scale(var(--hover-scale)); 
}

.contact-title {
	color: black;
	font-family: var(--font);
	font-size: var(--title-size);
}

.contact-link {
	width: 80%;
	height: 40pt;
	margin-bottom: 20pt;
}

.contact-button {
	font-family: var(--font);
	font-size: var(--content-size);
	color: black;
	border: none;
	border-radius: 10pt;
	transition: var(--long-transition);
	width: 100%;
	height: 100%;
	background-color: #e0e0e0;
}

.contact-button:hover {
	color: white;
	background-color: var(--highlight2);
}
